* {
    margin: 0;
    padding: 0;
}
#wrapper {
    height: 600px;
    width: 600px;
    margin: 0 auto;
}
#puzzle-pieces {
    height: 100px;
    width: 600px;
    border: 2px solid white;
   
}
.puzzle-image {
    height: 100px;
    width: 600px;
    background-size: 200px;
}
