* {
    margin:0;
    padding: 0;
}
 #wrapper {
    height: 800px;
    width:  400px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    margin: 10px 5px;
 }

#contact {
    height: 800px;
    width: 400px;
    border-radius: 10px;
    border: 2px solid lightgray;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}
button {
    width: 100px;
    height: 25px;
    margin-top: 10px;
    display: inline-block;
    vertical-align: top;
}

form {
    padding: 5px;
    display:inline-block;
    font-size: 15px;
}
.input-field {
    width: 220px;
    height: 25px;
    padding: 5px;
    margin: 10px;
    font-size: 15px;
    display:inline-block;
    vertical-align: top;
    border-radius: 2px;
}
.description {
    width: 350px;
    height: 250px;
    font-size: 15px;
    border-radius: 2px;
    margin-top: 25px;
}
p {
    font-size: 20px;
    line-height: 50px;
}
